@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
    font-size: 16px;
}
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    border-spacing: 0;
    box-sizing: border-box;
}
@layer components{
    .btn-loggout{
        @apply flex items-center gap-x-2 font-bold text-white border-solid bg-red-800 border-2 border-red-900 rounded h-10 p-2 text-sm cursor-pointer hover:bg-red-600 hover:border-red-700 hover:shadow-md hover:shadow-gray-400 transition-all duration-300
    }
    .btn-menu{
        @apply overflow-hidden font-bold text-black flex gap-x-2 items-center no-underline p-2 rounded bg-white border-solid border-2 border-white mb-2 cursor-pointer transition-all duration-300 hover:bg-blue-200 hover:shadow-md hover:border-blue-400
    }
    .sidebard{
        @apply bg-neutral-200 border-solid border-r-2 border-neutral-300 p-4 overflow-hidden grid grid-cols-[1fr] grid-rows-[auto_1fr_2rem] transition-all
    }
    .labelDataProfile{
        @apply px-2 py-1 bg-gray-200 rounded border-solid border-2 border-gray-400
    }
    .labelInfoProfile{
        @apply font-bold p-1
    }
    .btn-greend{
        @apply bg-green-700 text-white px-2 rounded-md border-solid border-2 border-green-700 font-bold cursor-pointer transition-all duration-300 hover:bg-green-600 hover:shadow-md disabled:bg-gray-400 disabled:border-gray-600 disabled:cursor-default
    }
    .btn-red{
        @apply bg-red-700 text-white px-2 rounded-md border-solid border-2 border-red-700 font-bold cursor-pointer transition-all duration-300 hover:bg-red-600 hover:shadow-md disabled:bg-gray-400 disabled:border-gray-600
    }
    .btn-blue{
        @apply bg-blue-700 text-white px-2 rounded-md border-solid border-2 border-blue-700 font-bold cursor-pointer transition-all duration-300 hover:bg-blue-600 hover:shadow-md disabled:bg-gray-400 disabled:border-gray-600
    }
    .btn-yellow{
        @apply bg-yellow-500 text-black px-2 rounded-md border-solid border-2 border-yellow-500 font-bold cursor-pointer transition-all duration-300 hover:bg-yellow-400 hover:shadow-md disabled:bg-gray-400 disabled:border-gray-600
    }
    .btn-transparent{
        @apply bg-transparent cursor-pointer disabled:cursor-default
    }
}